{% extends 'penyewaan/base.html' %}
{% block content %}
	
    <p><a href="{% url 'home_page' %}" class="btn btn-dark"><b> Kembali</a>
    <p><a href="{% url 'sewa_add' %}" class="btn btn-primary"><b> (+)Tambah Sewa </b></a>&nbsp;
       <a href="{% url 'sewa_to_pdf' %}" class="btn btn-info"><b> (+)Print PDF </b></a>
    </p>
    <br>
    {% for sewa in sewa %}
    <h3><a href="{% url 'sewa_detail_view' sewa.id %}">
        {{ sewa.nama_penyewa }}</a></h3>
    <p>{{ sewa.nama_kamar }}</p>
    {% endfor %}
{% endblock %}